/**************/
/***overide***/
/**************/
.btn-primary{
	background-color: #3498db;
	border: none;
	border-radius: 7px;
	
}


.login{
	padding-top: 18%;
}

.form-login{
	margin-top: 20px;
}

.login-logo{
	width: 100%;
	height: 665px;
}

.label-ket{
	color: #b1c2c8;
	font-size: 20px;
}

.logo{
	width: 200px;
}

.panel-top{
	background: #fff;
	padding:5px;
	box-shadow: 0px 0px 50px 0px #C6C6C6;
}

.panel-menu{
	text-align: right;
}

.panel-left{
	background: #fff;
	height: 589px;
}

.i-menu{
	width: 30px;
}

.notif{
	margin-top: 19px;
	margin-left:20px;
}

.user{
	color:#737373;
	font-size:20px;
	padding-top: 13px;
	padding-right: 13px;
}

.side-menu{
	list-style-type: none;
	padding: 5px;
	text-align: center;
}

.side-menu a{
	color:#bababa;
	font-size: 12px;
}

.side-menu span{
	font-size: 50px;
	margin: 0 auto;
}



.side-menu a:hover{
	color:#5fa1fc;
	text-decoration:none;
}

.side-menu li{
	margin-bottom: 20px;
}

.windows{
	background-color: #fff;
	border-radius: 5px;
	margin: 15px 15px 0px 0px;
}

.windows-header{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 17px;
	font-weight: bold;
	color: #737373;
}

.windows-table{
	margin-top: 20px;
	margin-bottom: 20px;
}

.windows-table thead td{
	background: #f4f4f4;
	font-weight: bold;
	color:#737373;
}

.windows-table tbody td{
	color:#737373;
	padding-top: 10px;
}

.windows-table tfoot td{
	background-color: #2ecc71;
	color:#fff;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

.filter-top{	
	background-color: #1abc9c;
	padding:0;
}

.filter-top .text-search{
	border: none;
	width: 100%;
	color: #9d9d9d;
}

.filter-select{
	border:none;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    color: #757575;
    font-weight: bold;
}

.brs{
	border-left: solid 1px #bababa;
	text-align: center;
	background: #fff;
	padding: 10px;
}

.btn-order{
	padding:5px;
	text-align: center;
	background: #1abc9c;
	color:#fff;
}

.btn-order font{
	position: relative;
	top: -5px;
	font-size: 15px;
}

.btn-order:hover,
.btn-order:focus{
	color:#fff;
	text-decoration: none;
}

.btn-saldo{
	padding:10px;
	text-align: center;
	background: #5fa1fc;
	color:#fff;
}

.promo{
	margin-top: 15px;
	border-radius: 5px;
	background: #9b59b6;
	padding: 50px 30px;
	color: #fff;
}

.btn-success{
	background-color: #1abc9c !important;
	border:none;
}